<h1>Create a New Post</h1>

<form action="/posts" method="post">
  <p>Blog author: <input type="text" name="post_name"></p>
  <p>Blog content: <input type="text" name="post_desc"></p>
  <input type="submit" value="Create"><br>

</form>